<footer>
  <div class="container-12">
    <div class="grid-12">
      <p class="powered-by">
        Powered by <%= link_to "LevelUp", "#" %> <%= LevelUp::VERSION %>
      </p>
    </div>
  </div>
</footer>